.link {
  display: flex;
}

.imageWrapper {
  position: relative;
  width: 300px;
  height: 180px;
}

.image {
  object-fit: cover;
}

@media screen and (max-width: 500px) {
  .link {
    display: block;
  }
}